[target.riscv32i-unknown-none-elf]
runner = ".cargo/run.sh"
rustflags = [
  "-C", "link-arg=-Tregions.ld",
  "-C", "link-arg=-Tmemory.x",
  "-C", "link-arg=-Tlink.x",
  "-C", "linker-plugin-lto",
]


[build]
target = "riscv32i-unknown-none-elf"
